body{
    background-color: rgba(117, 238, 106, 0.356);
}
h1{
    color: rgb(127, 204, 127);
}
h2{
    color: rgb(127, 199, 137);
}
.ab{
    font-size: 20px;
}
p{
    color: rgb(207, 224, 209);
}
.heading{
    color: rgba(96, 231, 96, 0.966);
    text-shadow:1px 4px 10px rgb(217, 235, 219);
    text-wrap: nowrap;
    width: 130px;
    position: relative;
    z-index: 10 ;
    left: 20px;
    font-size: 60px; 
}
h1{
    color: rgba(174, 235, 174, 0.966);
    text-shadow:1px 4px 10px rgb(0, 170, 23);
    text-wrap: nowrap;
    width: 130px;
    position: relative;
    z-index: 10 ;
    left: 20px;
    font-size: 50px;
}
.home{
    color: rgb(255, 255, 255);
    background-color: rgba(52, 53, 52, 0.603);
    text-shadow: 1px 4px 10px rgb(0, 255, 55);
    font-size: 25px;
    border-radius: 20%;
    padding: 2px 6px 2px 6px;
    box-shadow: 1px 4px 10px rgb(147, 206, 139);
    
}
.allview{
    color: rgb(205, 240, 208);
    background-color: rgba(67, 153, 71, 0.342);
    text-shadow: 1px 4px 10px rgb(0, 255, 55);
    font-size: 25px;
    border-radius: 20%;
    padding: 2px 6px 2px 6px;
    box-shadow: 1px 4px 10px rgb(147, 206, 139);
}
.allinfo{
    color: white;
    background-color: rgba(23, 23, 23, 0.7);
    text-shadow: 1px 4px 10px rgb(39, 161, 55);
    font-size: 25px;
    border-radius: 20%;
    padding: 2px 6px 2px 6px;
    box-shadow: 1px 4px 10px rgb(147, 206, 139);
}
.but{
    position: relative;
    z-index: 10;
    right: 40px;
}
body{
    background-color: black;
}
.innav{
    display: flex;
    justify-content: space-between;
}



@media screen and (max-width: 1000px) {

h1{
    font-size: 30px;
}
h2{
    font-size: 20px;
}

h1{
        
    width: 70px;
   
    left: 10px;
    font-size: 30px;
}
.home{
   
    font-size: 15px;
    border-radius: 10%;
    padding: 1px 3px 1px 3px;
    
}
.allview{
    font-size: 15px;
    border-radius: 10%;
    padding: 1px 3px 1px 3px;
}
.allinfo{
    font-size: 15px;
    border-radius: 10%;
    padding: 1px 3px 1px 3px;
}
.but{
    
    right: 10px;
}
.heading{
    font-size: 40px;
}


}