h1{
    color: rgba(174, 235, 174, 0.966);
    text-shadow:1px 4px 10px rgb(0, 170, 23);
    text-wrap: nowrap;
    width: 130px;
    position: relative;
    z-index: 10 ;
    left: 20px;
    font-size: 50px;
}
.home{
    color: rgb(255, 255, 255);
    background-color: rgba(52, 53, 52, 0.603);
    text-shadow: 1px 4px 10px rgb(0, 255, 55);
    font-size: 25px;
    border-radius: 20%;
    padding: 2px 6px 2px 6px;
    box-shadow: 1px 4px 10px rgb(147, 206, 139);
    
}
.allview{
    color: rgb(205, 240, 208);
    background-color: rgba(67, 153, 71, 0.342);
    text-shadow: 1px 4px 10px rgb(0, 255, 55);
    font-size: 25px;
    border-radius: 20%;
    padding: 2px 6px 2px 6px;
    box-shadow: 1px 4px 10px rgb(147, 206, 139);
}
.allinfo{
    color: white;
    background-color: rgba(23, 23, 23, 0.7);
    text-shadow: 1px 4px 10px rgb(39, 161, 55);
    font-size: 25px;
    border-radius: 20%;
    padding: 2px 6px 2px 6px;
    box-shadow: 1px 4px 10px rgb(147, 206, 139);
}
.but{
    position: relative;
    z-index: 10;
    right: 40px;
}



*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
section{
	position: relative;
	width: 100%;
	height: 100vh;
}
section video{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
section .navigation{
	position: absolute;
	padding: 1px;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 150px;
}

section .navigation li{
	list-style: none;
	cursor: pointer;
	border-radius: 4px;
	margin: 1px;
	border: 1px solid #fff;
	opacity: 0.7;
}

section .navigation li img{
	transition: 0.5s;
}
section .navigation li img:hover{
	height: 150px;
	width: 200px;
	border: 2px solid #fff;
}
.d{
    height: 30px;
    width: 30px;
    color: white;
    box-shadow: rgb(164, 235, 164);
}




body{
    background-color: black;
}
.exnav{
    display: flex;
    justify-content: space-between;
}




@media screen and (max-width: 1000px) {
    h1{
        
        width: 50px;
       
        left: 10px;
        font-size: 20px;
    }
    .home{
       
        font-size: 15px;
        border-radius: 10%;
        padding: 1px 3px 1px 3px;
        
    }
    .allview{
        font-size: 15px;
        border-radius: 10%;
        padding: 1px 3px 1px 3px;
    }
    .allinfo{
        font-size: 15px;
        border-radius: 10%;
        padding: 1px 3px 1px 3px;
    }
    .but{
        
        right: 10px;
    }

    section{
        
        width: 150%;
        height: 90vh;
    }
    
    
    
    
       
    
    section video{
        
        width: 70%;
        height: 60%;
    }
    section .navigation{
       
        padding: 2px;
        bottom: 5%;
        left: 30%;
       
        height: 70px;
        width: 100px;
    }
    
    section .navigation li{
        
        border-radius: 2px;
      
    }
    
    
    section .navigation li img:hover{
        height: 100px;
        width: 150px;
    }
    .d{
        height: 28px;
        width: 12px;
       
    }
}
    
    
    
    
    
    
    
    


